# Download and Clean Dataset

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

Cement

Blast Furnace Slag

Fly Ash

Water

Superplasticizer

Coarse Aggregate

Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [2]:
concrete_data = pd.read_csv('C:/Users/senth/Downloads/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

# Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

Split data into predictors and target
The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength']

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

# Import Keras

Let's go ahead and import the Keras library

In [11]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [14]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# Train and Test the Network

Let's call the function now to create our model.

In [16]:
model = regression_model()

Next, we will train the model for 50 epochs.

In [17]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 2ms/step - loss: 68678.3309
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 9583.5466
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 4318.1665
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 3437.4685
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 3237.2034
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 2629.9607
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 2438.9239
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 2465.1208
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 2418.4950
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 2005.4843
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 1949.4214
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 1725.1111
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 1850.2325
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 1428.8003
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 1414.5167
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 1229.0718
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 1104.9765
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 1059.5872
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 935.0350
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 941.5419
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 824.9994
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 758.1361
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 653.1748
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 693.4381
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 560.8457
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 598.9915
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 544.1619
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 488.7590
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 462.5706
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 465.1555
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 429.3801
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 363.4810
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 390.7048
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 376.9428
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 327.2399
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 365.0324
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 354.7269
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 311.6563
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 308.1975
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 309.9048
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 303.4184
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 294.4675
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 284.2151
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 274.3960
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 255.6428
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 287.0677
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 261.3223
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 245.0154
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 260.0267
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 248.4857

Next we need to evaluate the model on the test data.

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 263.6236

263.6235656738281

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

263.62353202082033 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [22]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 112.93891906738281
MSE 2: 112.14985656738281
MSE 3: 107.36119842529297
MSE 4: 119.65169525146484
MSE 5: 122.17183685302734
MSE 6: 109.85652923583984
MSE 7: 121.26126098632812
MSE 8: 105.32807159423828
MSE 9: 123.28240203857422
MSE 10: 107.13967895507812
MSE 11: 101.94681549072266
MSE 12: 94.09429931640625
MSE 13: 111.99697875976562
MSE 14: 108.75532531738281
MSE 15: 97.20734405517578
MSE 16: 101.42448425292969
MSE 17: 112.8594741821289
MSE 18: 93.20877838134766
MSE 19: 99.73107147216797
MSE 20: 114.37805938720703
MSE 21: 92.60227966308594
MSE 22: 109.26360321044922
MSE 23: 112.27901458740234
MSE 24: 98.96355438232422
MSE 25: 104.90933227539062
MSE 26: 100.69618225097656
MSE 27: 121.61840057373047
MSE 28: 103.28669738769531
MSE 29: 106.5981216430664
MSE 30: 102.23474884033203
MSE 31: 133.0087127685547
MSE 32: 92.70581817626953
MSE 33: 88.66860961914062
MSE 34: 108.92546844482422
MSE 35: 114.35541534423828
MSE 36: 111.19841003417969
MSE 37: 111.62220764160156
MSE 38: 127.43399810791016
MSE 39: 95.85797119140625
MSE 40: 116.36871337890625
MSE 41: 110.26364135742188
MSE 42: 130.14952087402344
MSE 43: 106.40765380859375
MSE 44: 112.49942779541016
MSE 45: 115.03617095947266
MSE 46: 133.32708740234375
MSE 47: 109.18006896972656
MSE 48: 101.96340942382812
MSE 49: 81.85958099365234
MSE 50: 92.4075927734375


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 108.44870108309911
Standard Deviation: 11.18749023414194